In [1]:
# converter o database fake em sqlite:

import json
import sqlite3

with open('alunos.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

conn = sqlite3.connect('dados_alunos.db')
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS alunos (Nome TEXT, Serie TEXT, Turma TEXT, Matricula INTEGER PRIMARY KEY);")

for student in data['students']:
    c.execute('''
        INSERT INTO alunos (Nome, Serie, Turma, Matricula)
        VALUES (?, ?, ?, ?);
    ''', (
        student['Nome'],
        student['Serie'],
        student['turma'],
        int(student['Matricula'])
    ))

conn.commit()
conn.close()

In [1]:
#dar uma olhada se deu bom:

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados_alunos.db')

df_total = pd.read_sql_query("SELECT * FROM alunos", conn)

print(df_total.head(10))

conn.close()

                       Nome Serie Turma  Matricula 18-06-24-entrada  \
0          Ana Paula Arósio    1ª     A   12345678         06:49:53
1               Lulu Santos    3ª     C   23456789         06:50:37
2              Renato Russo    2ª     A   34567890         06:50:37
3  Angélica que vai de Táxi    2ª     B   87654321         06:50:37
4       Monalisa da Pintura    1ª     D   98765432         08:31:41

  18-06-24-saida 20-06-24-entrada 20-06-24-saida
0       08:31:52         10:33:25       10:49:03
1       08:31:56         10:33:38       10:49:09
2       08:31:28         10:33:33       10:48:58
3       08:31:31         10:49:05              F
4       08:35:38         10:33:35       10:49:07