In [2]:
#dar uma olhada se deu bom:

import pandas as pd
import sqlite3

conn = sqlite3.connect('dados_alunos.db')

df_total = pd.read_sql_query("SELECT * FROM alunos", conn)

print(df_total.head(5))

conn.close()

                       Nome Serie Turma  Matricula 18-06-24-entrada  \
0          Ana Paula Arósio    1ª     A   12345678         06:49:53
1               Lulu Santos    3ª     C   23456789         06:50:37
2              Renato Russo    2ª     A   34567890         06:50:37
3  Angélica que vai de Táxi    2ª     B   87654321         06:50:37
4       Monalisa da Pintura    1ª     D   98765432                F

  18-06-24-saida
0       08:17:05
1       06:50:44
2       06:50:44
3       08:17:26
4              F