In [1]:
import sqlite3
import pandas as pd
import os

### Extrai e converte em JSON, CSV e XLSX

In [2]:
con = sqlite3.connect('dados_publicacoes.db')

df = pd.read_sql_query("SELECT * FROM publicacoes", con)

con.close()

diretorio_saida = 'dados'
os.makedirs(diretorio_saida, exist_ok=True)

df.to_json(os.path.join(diretorio_saida, 'dados_publicacoes.json'), orient='records', force_ascii=False, indent=4)
print("Dados convertidos e salvos em dados_publicacoes.json")

df.to_csv(os.path.join(diretorio_saida, 'dados_publicacoes.csv'), index=False, encoding='utf-8')
print("Dados convertidos e salvos em dados_publicacoes.csv")

df.to_excel(os.path.join(diretorio_saida, 'dados_publicacoes.xlsx'), index=False, engine='openpyxl')
print("Dados convertidos e salvos em dados_publicacoes.xlsx")

DatabaseError: Execution failed on sql 'SELECT * FROM publicacoes': no such table: publicacoes